*.swp
*.*.swp
*.*.*.swp
__pycache__
*/__pycache__
runs/
logs/
configs/l1_prune
configs/baseline_tests
configs/random_init_tests
configs/validation_prune
graphs/
*/*.pyc
test.py 
dev.pth.tar
master.pth.tar

scripts/l1_prune

configs/eff*
models/cifar/eff*
*.yml
